/* Excursion App */

body {
    background-color: black;
    font-family: Verdana;
    color: white;
}

.heading {
    font-weight: normal;
    font-size: 50px;
    
    display: flex;
    justify-content: center;
    flex: 1 1 400px;
    flex-wrap: wrap;
}

.downloadLink {
    color: aquamarine;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex: 1 1 100px;
}

.phoneVideo {
    display: flex;
    justify-content: center;
    margin: auto;
}