/* Excursion App */

body {
    background-color: black;
    font-family: Verdana;
    color: white;
}

.heading {
    font-weight: normal;
    font-size: 50px;
    
    display: flex;
    justify-content: center;
}

.downloadLink {
    color: aquamarine;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex: 1 1 100px;
}

.phoneVideo {
    display: flex;
    justify-content: center;
    margin: auto;
}

.subText {
    font-size: 21px;
    color: grey;
    display: flex;
    justify-content: center;
}

.camp {
    display: flex;
    justify-content: center;
    margin: auto;
}

.phone {
    display: flex;
    justify-content: center;
    margin: auto;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    
    display: flex;
    justify-content: center;
}

footer {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    color: grey;
}

#logo {
    margin: 0px 5px 0px 5px;
}